* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    padding: 30px 0 10px 0;
}



#Paris-Belleville {
    padding: 20px 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: #c4c3c3;
}

#Paris-Belleville p {
    margin-left: 30px;
}



#conteneur-titre-background {
    background-color: #f2f2f2;
    padding: 40px 0 0 0;
}

#conteneur-titre {
    width: 76%;
    margin: 0px auto;
    text-align: center;
}

#conteneur-titre h2 {
    margin-bottom: 15px;
    /* font-weight: lighter; */
}

/* #conteneur-titre p {
    margin-bottom: 30px;
} */

#conteneur-titre button {
    margin-bottom: 70px;
    padding: 20px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(to bottom right, #FF79DA 10%, #9356DC 90%);
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
}




/* --------------------------
        Liens
------------------------- */


#fonctionnement-titre {
    /* margin: 50px 0 20px 24px; */
    /* margin: 50px 0 20px 0; */
    margin: 50px auto;
    margin-bottom: 20px;
    width: 90%;
}

#fonctionnement {
    margin: 0 0 70px 24px;
    width: 90%;
}

.liens {
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 25px;
    box-shadow: 1px 8px 11px #d3d2d2;
}

.liens a {
    color: #000;
    text-decoration: none;
}



/* .fa-mobile-screen-button, */
.liens h3 {
    position: relative;
    left: 4%;
    /* padding: 30px 10px 30px 19px; */
    /* padding: 30px 0; */
    padding: 30px 20px 30px 0;
    display: inline-block;
}

/* .fa-mobile-screen-button {
    padding: 30px 0 30px 23px;
} */

/* .fa-location-dot {
    font-size: 24px;
    margin-left: -8px;
} */

.numeros {
    position: relative;
    right: 4%;
    width: 25px;
    height: 25px;
    /* margin-left: -11px; */
    padding: 4px;
    background-color: #9356DC;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    display: inline-block;

}








/* ----------------------------
        LES FIGURES 
---------------------------- */


#Restaurants {
    position: relative;
    margin: 0px auto;
    width: 90%;
    top: 75px;
    z-index: 1;
    /* background-color: #f2f2f2; */
}

#listes-figures {
    position: relative;
    padding: 100px 0 50px 0;
    /* padding: 50px 0; */
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20PX;
}

figure {
    position: relative;
    width: 90%;
    border-radius: 15px;
    box-shadow: 1px 8px 11px #d3d2d2;
}

figure a {
    color: #000;
    text-decoration: none;
}

figure img {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.Nouveau {
    padding: 5px;
    border-radius: 3px;
    background-color: #99E2D0;
    color: darkslategrey;
    font-weight: bold;
}

.un,
.deux {
    position: absolute;
    right: 16px;
    top: 16px;
}

figcaption {
    padding: 10px 0 15px 12px;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
}

figcaption h3 {
    margin-bottom: 4px;
}




/* --------------------------------------------------------
LES ICON */








/* .fa-heart {
    position: relative;
    left: 86%;
    bottom: 40px;
    font-size: 20px;
} */

#figcaption-haut {
    display: inline-block;
}

#hello,
.fa-heart {
    display: inline-block;
    position: absolute;
    left: 81%;
    bottom: 8%;
    font-size: 34px;
    /* background-color: red; */
    /* color: #fff; */
    /* border: 2px solid black; */
}

#hello:hover {
    background-color: #9356DC;
}

/* .fa-heart {
    border: 1px solid red;
    color: blue;
} */











/* ---------------------------------------------------------- */
















/* ----------------------------
        FOOTER 
---------------------------- */



footer {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(61, 61, 61);
}

footer h3,
footer a {
    margin: 0px auto;
    width: 90%;
    color: #fff;
}

/* footer img {
    color: #fff;
    font-size: 10px;
    width: 200px;
} */

a {
    text-decoration: none;
}

#ohmyfood,
#proposer,
#devenir {
    font-weight: bold;
}

#ohmyfood {
    font-family: 'Shrikhand', cursive;
    font-weight: lighter;
}

.fa-utensils,
.fa-handshake-angle {
    display: inline;
}

.fa-utensils {
    margin-right: 17px;
}

.fa-handshake-angle {
    margin-right: 10px;
}




















/* ------------------------------------------------
            A LA FRANCAISE 
------------------------------------------------ */


header {
    position: relative;
}

.fa-arrow-left {
    color: #000;
}

.fa-arrow-left {
    position: absolute;
    top: 33px;
    left: 33px;
    font-weight: bold;
}






#conteneur-restaurant {
    position: relative;
    bottom: 59px;
    width: 100%;
    margin-bottom: -60px;
    border-radius: 30px 30px 0 0;
    background-color: #f2f2f2;
}




/* #fond {
    width: 100vw;
    height: 300px;
}

#image-de-fond {
    background-image: url(./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
} */




#fond {
    position: relative;
    /* width: 100vw; */
    height: 300px;
    /* object-fit: cover; */
}

#fond img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* #titre-restaurants {
    width: 90%;
    margin: 40px 0;
    display: flex;
}

#titre-restaurants i {
    margin-right: 10px;
} */











/* ------------------------------
        CODE EXPORTER
------------------------------- */

/* 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

#plats {
    padding: 4px 0 30px 0;
    margin: 0px auto;
    width: 90%;
    /* background-color: #f2f2f2; */
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}



#titre-restaurants {
    width: 100%;
    /* margin: 40px 0; */
    margin-top: 40px;
    display: flex;
    /* justify-content: center; */
}

#titre-restaurants>h2 {
    width: 85%;
    /* font-family: Shrikhand, sans-serif; */
    font-family: 'Shrikhand', cursive;
    font-weight: lighter;

}

#titre-restaurants i {
    /* width: 30%; */
    position: initial;
    /* margin-left: 53%; */
    /* left: 86%;
    bottom: 40px; */
    font-size: 20px;
}



section {
    width: 100%;
    /* margin: 0px auto; */
}

.repas {
    margin: 40px 0 6px 0;
    font-weight: lighter;
}

hr {
    width: 15%;
    height: 4px;
    border: none;
    background-color: #99E2D0;
    /* font-weight: bold; */
}

.prems {
    margin-top: 26px;
}

.box_1 {
    position: relative;
    bottom: 10px;
    margin-bottom: 12px;
    /* border: 1px solid black; */
    border-radius: 16px;
    box-shadow: 1px 2px 9px #d3d2d2;
    background-color: #fff;
    animation-name: menu;
    animation-timing-function: ease;
    animation-duration: 2s;
    opacity: 1;
}

.box_1 a {
    color: #000;
    text-decoration: none;
}

.marge {
    padding: 14px;
}

.haut {
    font-weight: bolder;
}

.bas {
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
}

button {
    /* width: 90%; */
    text-align: center;
    margin: 40px 0;
    padding: 20px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(to bottom right, #FF79DA 10%, #9356DC 90%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

@keyframes menu {
    from {
        bottom: 0px;
        opacity: 0;
    }

    to {
        bottom: 10px;
        opacity: 1;
    }
}


#commander {
    display: block;
    margin: 50px auto;
    width: 230px;
    font-weight: lighter;
}

footer img {
    color: #fff;
}














/* ------------------------------
        CODE EXPORTER
------------------------------- */







/* ------------------------------
        LES MEDIAS
------------------------------- */



@media screen and (min-width: 768px) and (max-width: 992px) {


    /* ----------
Tablett */

    .numeros {
        right: 2%;
    }

    figure {
        width: 48%;
    }

    #listes-figures {
        width: 90%;
        padding-top: initial;
        margin: 0px auto;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 23px;
        background-color: initial;
    }

    #fonctionnement-titre {
        margin: 20px auto;
    }

    #fonctionnement {
        margin: 0px auto;
    }

    #conteneur-titre button {
        /* margin-top: initial; */
        margin-bottom: 40px;
    }

    #Restaurants {
        position: initial;
        margin: 30px auto;
        width: 90%;
    }

    /* ------------------------------------
    LES PAGES RESTAURANTS VERSION TABLETTE  
    -------------------------- */

    #conteneur-restaurant {
        bottom: 120px;
        margin-bottom: -122px;
    }


    #fond {
        position: relative;
        height: 560px;
        object-fit: cover;
    }

}


@media screen and (min-width: 992px) {

    /* --------------------------
    ACCEUIL VERSION DESKTOP
    ------------------------- */

    #fonctionnement {
        margin: 0px auto;
        width: 90%;
        display: flex;
        justify-content: space-around;
    }

    #fonctionnement-titre {
        margin: 20px auto;
    }

    #conteneur-titre button {
        /* margin-top: initial; */
        margin-bottom: 40px;
    }

    .liens {
        margin-bottom: initial;
    }

    #Restaurants {
        position: initial;
        margin: 30px auto;
        width: 90%;
    }

    figure {
        width: 23%;
    }

    #listes-figures {
        margin: 0px auto;
        padding-top: initial;
        background-color: inherit;
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* ------------------------------------
    LES PAGES RESTAURANTS VERSION DESKTOP
    -------------------------- */

    #fond {
        position: relative;
        height: 900px;
        object-fit: cover;
    }

    #conteneur-restaurant {
        bottom: 180px;
        margin-bottom: -180px;
    }


    #plats {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    section {
        width: 30%;
    }







}