* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    padding: 30px 0 10px 0;
}



#Paris-Belleville {
    padding: 20px 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: gray;
}

#Paris-Belleville p {
    margin-left: 30px;
}



#conteneur-titre-background {
    background-color: #f2f2f2;
    padding: 40px 0 0 0;
}

#conteneur-titre {
    width: 76%;
    margin: 0px auto;
    text-align: center;
}

#conteneur-titre h1 {
    margin-bottom: 15px;
}

#conteneur-titre p {
    margin-bottom: 30px;
}

#conteneur-titre button {
    margin-bottom: 70px;
    padding: 20px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(to bottom right, #FF79DA 10%, #9356DC 90%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}




/* --------------------------
        Liens
------------------------- */


#fonctionnement-titre {
    margin: 50px 0 20px 24px;
    width: 90%;
}

#fonctionnement {
    margin: 0 0 70px 24px;
    width: 90%;
}

.liens {
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 25px;
    box-shadow: 1px 8px 11px #d3d2d2;
}



/* .fa-mobile-screen-button, */
.liens h3 {
    padding: 30px 0 30px 25px;
    display: inline-block;
}

.fa-mobile-screen-button {
    padding: 30px 0 30px 34px;
}

.fa-location-dot {
    font-size: 24px;
    margin-left: -8px;
}








/* ----------------------------
        LES FIGURES 
---------------------------- */


#Restaurants {
    width: 90%;
}

#listes-figures {
    padding: 50px 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20PX;
}

figure {
    position: relative;
    width: 90%;
}

figure img {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.Nouveau {
    padding: 5px;
    border-radius: 3px;
    background-color: aquamarine;
    color: darkslategrey;
    font-weight: bold;
}

.un,
.deux {
    position: absolute;
    right: 16px;
    top: 16px;
}

figcaption {
    padding: 10px 0 0 12px;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
}

figcaption h3 {
    margin-bottom: 4px;
}

.fa-heart {
    position: relative;
    left: 86%;
    bottom: 40px;
    font-size: 20px;
}



/* ----------------------------
        FOOTER 
---------------------------- */



footer {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(61, 61, 61);
}

footer h3,
a {
    margin: 0px auto;
    width: 90%;
    color: #fff;
}

/* footer img {
    color: #fff;
    font-size: 10px;
    width: 200px;
} */

a {
    text-decoration: none;
}

#ohmyfood,
#proposer,
#devenir {
    font-weight: bold;
}

.fa-utensils,
.fa-handshake-angle {
    display: inline;
}

.fa-utensils {
    margin-right: 17px;
}

.fa-handshake-angle {
    margin-right: 10px;
}




















/* ------------------------------------------------
            A LA FRANCAISE 
------------------------------------------------ */


header {
    position: relative;
}

.fa-arrow-left {
    color: #000;
}

.fa-arrow-left {
    position: absolute;
    top: 33px;
    left: 33px;
    font-weight: bold;
}






#conteneur-restaurant {
    position: relative;
    bottom: 59px;
    width: 100%;
    margin-bottom: -60px;
    border-radius: 48px 48px 0 0;
    background-color: #f2f2f2;
}




/* #fond {
    width: 100vw;
    height: 300px;
}

#image-de-fond {
    background-image: url(./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

#fond {
    position: relative;
    /* width: 100vw; */
    height: 300px;
}

#fond img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}


/* #titre-restaurants {
    width: 90%;
    margin: 40px 0;
    display: flex;
}

#titre-restaurants i {
    margin-right: 10px;
} */











/* ------------------------------
        CODE EXPORTER
------------------------------- */

/* 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

main {
    padding: 4px 0 30px 0;
    margin: 0px auto;
    width: 90%;
    /* background-color: #f2f2f2; */
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}



#titre-restaurants {
    width: 100%;
    /* margin: 40px 0; */
    margin-top: 40px;
    display: flex;
    /* justify-content: center; */
}

#titre-restaurants h2 {
    width: 85%;
}

#titre-restaurants i {
    /* width: 30%; */
    position: initial;
    /* margin-left: 53%; */
    /* left: 86%;
    bottom: 40px; */
    font-size: 20px;
}



section {
    width: 100%;
    /* margin: 0px auto; */
}

.repas {
    margin: 40px 0 6px 0;
}

hr {
    width: 15%;
    height: 4px;
    border: none;
    background-color: #99E2D0;
    /* font-weight: bold; */
}

.prems {
    margin-top: 26px;
}

.box_1 {
    position: relative;
    bottom: 10px;
    margin-bottom: 12px;
    /* border: 1px solid black; */
    border-radius: 16px;
    box-shadow: 1px 2px 9px #d3d2d2;
    background-color: #fff;
    animation-name: menu;
    animation-timing-function: ease;
    animation-duration: 2s;
    opacity: 1;
}

.marge {
    padding: 14px;
}

.bas {
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
}

button {
    /* width: 90%; */
    text-align: center;
    margin: 40px 0;
    padding: 20px;
    border-radius: 40px;
    border: none;
    background: linear-gradient(to bottom right, #FF79DA 10%, #9356DC 90%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

@keyframes menu {
    from {
        bottom: 0px;
        opacity: 0;
    }

    to {
        bottom: 10px;
        opacity: 1;
    }
}


#commander {
    display: block;
    margin: 50px auto;
    width: 230px;
}

footer img {
    color: #fff;
}














/* ------------------------------
        CODE EXPORTER
------------------------------- */